body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.inline-block{
  display: inline-block;
}

ul.events{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.events li{
  margin: 5px;
  padding: 15px;
  border: 1px #E6E6E6 solid;
  border-radius: 5px;
}

li.comment{
  background-color:#F0F7FF;
}

li.heart{
  background-color: #FFF2F2;
}

li.join{
  background-color: rgb(228, 255, 248);
}

.event .user-avatar{
  height: 30px;
  border-radius: 30px;
  vertical-align: middle;
  margin-right: 10px
}

.event .time{
  font-size: 10px;
  color: rgb(221, 221, 221);
  float: right;
}

.event .time{
}
